<!DOCTYPE html>

<html lang="en">

<head>

<head>
{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Perfil</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->


    
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css' %}">
    
    


    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/red.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/audio.css' %}">
    

    <script src="{% static 'assets/js/jquery-1.11.0.min.js' %}"></script>

   
    
  
    
  
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
{% block content %}

   <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="fb-cover">
        <img   src="{{user.userp.picture.url}}" class="img-responsive fb-front" width="500" height="200">
      </div>
      <div class="navbar">
        <div class="navbar-header">
          <div class="navbar-brand fb-profile navbar-brand2">
           <img src="{{user.userp.picture.url}}" width="150" height="150"  class="img-responsive img-thumbnail img-circle center-block">
           
    
      <div class="audio-player-controls">

        <span id='progressOut' class="audio-player-progress">
          <span id='progressIn' class="audio-player-progress-bar"></span>
        </span>
        <span class="audio-player-button-wrappers">
          <a role="button"  class="audio-player-button small icon-backward"></a>
          <a role="button" id="play" class="audio-player-button audio-player-place-pause-button icon-play"></a>
          <a role="button" id="pause" class="audio-player-button small icon-forward"></a>
        </span>
      </div><audio id="audio" width="300" height="32" src="{% static 'go.mp3' %}"></audio>




<div >
     <div >
          <div ></div>
     </div>
</div>

<div class="row">Espacio</div>
           <h3><strong>{{user.first_name}} {{user.last_name}}</strong></h3>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br></br>
<br></br>
<br></br>
<ul class="nav nav-pills nav-justified">
  <li class="active"><a data-toggle="tab" href="#home">Publicaciones</a></li>
  <li><a data-toggle="tab" href="#menu1">Media</a></li>
  
  <li><a data-toggle="tab" href="#menu2">Informaciones</a></li>
  
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>Aqui va la informacion del Usuario</h3>
    <p>Some content.</p>

  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>

  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>
  
</body>{% endblock content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/audio.js' %}"></script>
</html>
